
.mainWrapp{
 background-color: #001D30; 
 min-height: 100%;
}
.mainWrapp h1,h2,h3,h4{
	padding:10px;
	margin-left: 10px;
}
.mainWrapp a:link, a:visited {
  background-color: #001D30;
  color:red;
  text-align: center;
  text-decoration: none;
}

.mainWrapp a:hover, a:active {
  background-color: #555555;
}
.whatsHappen{
	list-style-type: square;
}